<div style="width:200px ; height: 200px; margin-left:auto; margin-right: auto; margin-top: 50px; margin-bottom: 10px;">
    <img src="images/pokeball-placeholder.png" style="object-fit:cover; width: 100%;" alt="pokemon-art" id="pokemon-art">
</div>
<input type="text" id="pokemon-name-input" placeholder="Enter Pokemon Name" list="pokemon-names-list" style="margin-left: 45px;">
<datalist id="pokemon-names-list"></datalist>
<button type="button">Catch!</button>
<div id="results" style="display: none; margin-top: 50px;">
    <p id="paragraph-1" style="text-align: center;"></p>
    <ul id="typing" style="text-align: center; list-style-type: none;"></ul>
    <br>

    <p id="paragraph-2" style="text-align: center;"></p>
    <ul id="weaknesses" style="text-align: center; list-style-type: none;"></ul>
    <br>

    <p id="paragraph-3" style="text-align: center;"></p>
    <ul id="resistances" style="text-align: center; list-style-type: none;"></ul>
    <br>

    <p id="paragraph-4" style="text-align: center;"></p>
    <ul id="immunities" style="text-align: center; list-style-type: none;"></ul>
</div>
