<html lang = "en">
<head>
    <meta charset="UTF-8" />
    <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
    <title> Rotomii - Home </title>
    <link rel="stylesheet" href="css/themeSwitch.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/tags.css" />
    <link rel="stylesheet" href="css/teamModal.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
    <header>
         <!--Nav  -->
        <%- include('partials/navbar') %>
    </header>

    <!-- Main body -->
     <main class="main-body">
       <% if (user) { %>
        <h1>Welcome to Rotomii, <%= user.username %>!</h1>
        <% } else { %>
            <h1>Welcome to Rotomii!</h1>
        <% } %>
        <div class="search-container">
            <form class="search-box">
                <input class="search-text" type="text" placeholder="Search for a Pokemon..." />
                <button type="submit" aria-label="Search">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
     </main>




  <!--  footer  -->
  <%- include('partials/footer') %>
  
  <script src="/javascripts/tags.js"></script>
  <script src="/javascripts/teamManager.js"></script>
  <script src="/javascripts/pokemonSearch.js"></script>
</body>
</html>



