<html lang = "en">
<head>
    <meta charset="UTF-8" />
    <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
    <title> Rotomii - Home </title>
    <link rel="stylesheet" href="css/themeSwitch.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
         <!--Nav  -->
        <%- include('partials/navbar') %>
    </header>

    <!-- Main body -->
     <main class = "main-body">
        <h1>Welcome to Rotomii</h1>
            <div class = "search-box">
                <input class = "search-text" type = "text" placeholder="Search for a Pokemon..." />
                <i class ="fa fa-search"></i>
            </div>
     </main>



  <!--  footer  -->
  <%- include('partials/footer') %>
</body>
</html>



