<html lang = "en">
<head>
    <meta charset="UTF-8" />
    <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
    <title> Rotomii - My Profile </title>
    <link rel="stylesheet" href="css/themeSwitch.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
</head>
<header>
    <%- include('partials/navbar') %>
</header>

<body>

    <!--  footer  -->
    <%- include('partials/footer') %>
</body>
</html>