<html lang = "en">
<head>
    <meta charset="UTF-8" />
    <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
    <title> Rotomii - My Profile </title>
    <link rel="stylesheet" href="css/themeSwitch.css" />
    <link rel="stylesheet" href="css/profile.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
</head>
 <header>
         <!--Nav  -->
        <%- include('partials/navbar') %>
    </header>


<body>
    <div class="edit-profile-container">
        <h1>Edit Profile</h1>
        <form action = "/profile" method="POST">
            <label>Username</label>
            <input type="text" name = "username" value="<%= user.username %>">
            <br>
            <label>Address</label>
            <input type="text" name="address" value="<%= user.address || "" %>">
            <br>
            <label>Password</label>
            <button type="submit">Save Changes</button>
        </form>
    </div>

    <!--  footer  -->
    <%- include('partials/footer') %>
</body>
</html>