.edit-profile-container {
    max-width: 700px;
    margin: 5rem auto;
    padding: 3rem;
    background-color: var(--body-search-bg, #fff);
    border-radius: 1rem;
    box-shadow: 0 5 15px rgba(0, 0, 0, 0.15);
    font-family: 'Fredoka', sans-serif;

}

h1 {
    color: var(--heading-color);
}

.edit-profile-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.avatar-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px groove var(--nav-color);
}

.upload-label {
    display: inline-block;
    background-color: var(--heading-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 1rem;
}

.edit-profile-container form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-group input {
    padding: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    font-size: 1rem;
    color: #838383;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

.btn {
    padding: 0.9rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    font-size: 1rem;
}

.btn-primary {
    background-color: #3cd0e4;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-secondary {
    background-color: #3cd0e4;
    color: white;
    transition: background-color 0.3s ease;
}






button:hover {
    background-color: var(--heading-color);
}

.error-msg {
    color: red;
    font-size: 0.9rem;
}